@model BibliotecaMVC.Models.Livro

@{
    ViewData["Title"] = "Cadastrar Novo Livro";
}

<h2 class="tit-pagina">
    <i class="fa fa-book" aria-hidden="true"></i>&ensp;Cadastrar Novo Livro
</h2>

<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-horizontal">
        <hr>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Titulo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Quantidade" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Foto" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <p>Selecione a imagem:</p>
                <input type="file" name="files" accept="image/*">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Autores</label>
            <div class="col-md-10 checks">
                @foreach (var item in ViewBag.Autores)
                {
                    <p>
                        <input type="checkbox" name="selectedAutores" value="@item.Value" />
                        <span>@item.Text</span>
                    </p>
                }
            </div>
        </div>
    </div>
    <p class="acoes-base clearfix">
        <a asp-action="Index" class="btn btn-primary pull-left">
            <i class="fa fa-list" aria-hidden="true"></i>
            &ensp;Voltar para Lista
        </a>
        <button type="submit" value="Create" class="btn btn-success" />
            <i class="fa fa-book" aria-hidden="true"></i>
            &ensp;Cadastrar Novo Livro
        </button>
    </p>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
