@model IEnumerable<BibliotecaMVC.Models.Livro>

<h2 class="tit-pagina">
    <i class="fa fa-shopping-bag" aria-hidden="true"></i>&ensp;Carrinho
</h2>

@if (Model == null || Model.Count() == 0)
{
    <p class="aviso-excluir">O carrinho está vazio.</p>
}
else
{
    <br />
    <form asp-action="EmprestarLivros">
        &emsp;&emsp;
        <button type="submit" class="btn btn-warning">
            <i class="fa fa-share-alt-square" aria-hidden="true"></i>&ensp;Emprestar Livros
        </button>
    </form>
}

<br />
<table class="lista">
    <thead>
        <tr>
            <th>Foto</th>
            <th>Produto</th>
            <th>Quantidade</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td><img class="card-img-top" src="~/@item.Foto" height="80px"></td>
            <td>@item.Titulo</td>
            <td>@item.Quantidade</td>
        </tr>
}
    </tbody>
</table>
