@model BibliotecaMVC.Models.Autor
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Detalhes do Autor";
}

<h2 class="tit-pagina">
    <i class="fa fa-address-book" aria-hidden="true"></i>&ensp;Detalhes do Autor
</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
</div>
<p class="acoes-base clearfix">
    <a asp-action="Index" class="btn btn-primary pull-left">
        <i class="fa fa-list" aria-hidden="true"></i>
        &ensp;Voltar para Lista
    </a>
    @if (SignInManager.IsSignedIn(User))
    {
    <a asp-action="Edit" asp-route-id="@Model.AutorID" class="btn btn-success">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        &ensp;Editar este Autor
    </a>
    }
</p>
